# OECD HAN Database

In [4]:
# load packages 
library(pacman)
p_load(tidyverse, data.table, dtplyr, reshape2, archive, kableExtra)
# set option
options(dplyr.summarise.inform = FALSE)
gray_scale <- c('#F3F4F8','#D2D4DA', '#B3B5BD', 
                '#9496A1', '#7d7f89', '#777986', 
                '#656673', '#5B5D6B', '#4d505e',
                '#404352', '#2b2d3b', '#282A3A',
                '#1b1c2a', '#191a2b',
                '#141626', '#101223')

In [6]:
han_names <- fread('work/notebooks/patent/data/202208_HAN_NAMES.txt')

In [7]:
dim(han_names)

[1] 4191007       3

In [7]:
head(han_names)

  HAN_ID Clean_name                      Person_ctry_code
1 1      & HAMBOURG NIENDORF             DE
2 2      & KK                            JP
3 3      “ASTRONIT” CLOSE CORP           RU
4 4      “DEUTSCHE SEE” GMBH             DE
5 5      “EFIRNOIE” OPEN JOINT STOCK CO  RU
6 6      “EUROSTANDART” LTD LIABILITY CO RU

In [8]:
de_firms <- fread('work/notebooks/patent/data/orbis_de_matched_l.csv')

In [55]:
han_names %>%
    .[1:5,] %>%
    kable('pipe', align='ccc')

| HAN_ID |           Clean_name           | Person_ctry_code |
|:------:|:------------------------------:|:----------------:|
|   1    |      & HAMBOURG NIENDORF       |        DE        |
|   2    |              & KK              |        JP        |
|   3    |     “ASTRONIT” CLOSE CORP      |        RU        |
|   4    |      “DEUTSCHE SEE” GMBH       |        DE        |
|   5    | “EFIRNOIE” OPEN JOINT STOCK CO |        RU        |

In [53]:
de_firms %>%
    .[1:5, 2:3]

  name_native                           name_internat
1 Airbus Defence and Space GmbH         Airbus Defence and Space GmbH
2 EurA AG                               EurA AG
3 TuTech Innovation GmbH                TuTech Innovation GmbH
4 FFT Produktionssysteme GmbH & Co. KG. FFT Produktionssysteme GmbH & Co. KG.
5 Diehl Aviation Laupheim GmbH          Diehl Aviation Laupheim GmbH

In [15]:
# query
airbus <- toupper('Airbus Defence')
han_names %>%
    .[Person_ctry_code == 'DE'] %>%
    .[Clean_name %like% airbus] %>%
    .[,HAN_ID] -> airbus_han_ids
airbus_han_ids

[1]   60513   62422 3637004 4401227 4527012

In [20]:
han_person <- fread('work/notebooks/patent/data/202208_HAN_PERSON.txt')

In [21]:
head(han_person)

  HAN_ID HARM_ID Person_id Person_name_clean              Person_ctry_code
1 1      1       15164069  & HAMBOURG NIENDORF            DE
2 2      2       30816597  & KK                           JP
3 3      3       67383967  “ASTRONIT” CLOSE CORP          RU
4 3      3       47772459  “ASTRONIT” CLOSE CORP          RU
5 4      4       47210990  “DEUTSCHE SEE” GMBH            DE
6 5      5       47367244  “EFIRNOIE” OPEN JOINT STOCK CO RU
  Matched
1 0
2 0
3 0
4 0
5 0
6 0