# OECD HAN Database

In [1]:
# load packages 
library(pacman)
p_load(tidyverse, data.table, dtplyr, reshape2, archive)
# set option
options(dplyr.summarise.inform = FALSE)
gray_scale <- c('#F3F4F8','#D2D4DA', '#B3B5BD', 
                '#9496A1', '#7d7f89', '#777986', 
                '#656673', '#5B5D6B', '#4d505e',
                '#404352', '#2b2d3b', '#282A3A',
                '#1b1c2a', '#191a2b',
                '#141626', '#101223')

Installing package into ‘/home/zou/R/x86_64-pc-linux-gnu-library/4.2’
(as ‘lib’ is unspecified)

Warning message in utils::install.packages(package, ...):
“installation of package ‘archive’ had non-zero exit status”
Warning message in p_install(package, character.only = TRUE, ...):
“”
Warning message in library(package, lib.loc = lib.loc, character.only = TRUE, logical.return = TRUE, :
“there is no package called ‘archive’”
Warning message in p_load(tidyverse, data.table, dtplyr, reshape2, archive):
“Failed to install/load:
archive”

In [30]:
han_names <- fread('work/notebooks/patent/data/202208_HAN_NAMES.txt')

In [8]:
dim(han_names)

[1] 4191007       3

In [7]:
head(han_names)

  HAN_ID Clean_name                      Person_ctry_code
1 1      & HAMBOURG NIENDORF             DE
2 2      & KK                            JP
3 3      “ASTRONIT” CLOSE CORP           RU
4 4      “DEUTSCHE SEE” GMBH             DE
5 5      “EFIRNOIE” OPEN JOINT STOCK CO  RU
6 6      “EUROSTANDART” LTD LIABILITY CO RU

In [4]:
han_persons <- fread('work/notebooks/patent/data/202208_HAN_PERSON.txt')
dim(han_persons)

[1] 7740824       6

In [11]:
head(han_persons, 10)

   HAN_ID HARM_ID Person_id Person_name_clean               Person_ctry_code
1  1      1       15164069  & HAMBOURG NIENDORF             DE
2  2      2       30816597  & KK                            JP
3  3      3       67383967  “ASTRONIT” CLOSE CORP           RU
4  3      3       47772459  “ASTRONIT” CLOSE CORP           RU
5  4      4       47210990  “DEUTSCHE SEE” GMBH             DE
6  5      5       47367244  “EFIRNOIE” OPEN JOINT STOCK CO  RU
7  5      5       64495153  “EFIRNOIE” OPEN JOINT STOCK CO  RU
8  6      6       47433466  “EUROSTANDART” LTD LIABILITY CO RU
9  6      6       67613311  “EUROSTANDART” LTD LIABILITY CO RU
10 7      7       53655360  “IVIX” LTD                      RU
   Matched
1  0
2  0
3  0
4  0
5  0
6  0
7  0
8  0
9  0
10 0

In [5]:
patents <- fread("work/notebooks/patent/data/202208_HAN_PATENTS.txt")

In [8]:
dim(patents)

[1] 18355687        5

In [13]:
head(patents)

  HAN_ID HARM_ID Appln_id  Publn_auth Patent_number
1  4      4      311606173 US         US8668089
2  7      7      439191607 US         US9409947
3  7      7      518367793 US         US10836794
4 10     10      365204276 US         US8513480
5 14     14      336903179 WO         WO2011112122
6 14     14      363622722 WO         WO2012064218

In [6]:
patents %>%
    .[HAN_ID == 1]

     HAN_ID HARM_ID Appln_id Publn_auth Patent_number

In [7]:
harm_names <- fread("work/notebooks/patent/data/202208_HARM_NAMES.txt")

In [9]:
head(harm_names, 10)

   HARM_ID Clean_name                                  Person_ctry_code
1   1      & HAMBOURG NIENDORF                         DE
2   2      & KK                                        JP
3   3      “ASTRONIT” CLOSE CORP                       RU
4   4      “DEUTSCHE SEE” GMBH                         DE
5   5      “EFIRNOIE” OPEN JOINT STOCK CO              RU
6   6      “EUROSTANDART” LTD LIABILITY CO             RU
7   7      “IVIX” LTD                                  RU
8   8      “PERMNEFTEMASHREMONT” PUBLIC JOINT STOCK CO RU
9   9      “RM CENTER” LTD LIABILITY CO                RU
10 10      “RRT” LTD                                   RU

In [10]:
head(han_names, 10)

   HAN_ID Clean_name                                  Person_ctry_code
1   1     & HAMBOURG NIENDORF                         DE
2   2     & KK                                        JP
3   3     “ASTRONIT” CLOSE CORP                       RU
4   4     “DEUTSCHE SEE” GMBH                         DE
5   5     “EFIRNOIE” OPEN JOINT STOCK CO              RU
6   6     “EUROSTANDART” LTD LIABILITY CO             RU
7   7     “IVIX” LTD                                  RU
8   8     PUBLIC JOINT STOCK CO “PERMNEFTEMASHREMONT” RU
9   9     “RM CENTER” LTD LIABILITY CO                RU
10 10     “RRT” LTD                                   RU

In [27]:
han_persons[9:20,]

   HAN_ID HARM_ID Person_id Person_name_clean
1   6           6 67613311  “EUROSTANDART” LTD LIABILITY CO
2   7           7 53655360  “IVIX” LTD
3   8           8 48761393  “PERMNEFTEMASHREMONT” PUBLIC JOINT STOCK CO
4   8           8 64875050  “PERMNEFTEMASHREMONT” PUBLIC JOINT STOCK CO
5   8     2462366 48754911  PUBLIC JOINT STOCK CO “PERMNEFTEMASHREMONT”
6   8     2462366 64543597  PUBLIC JOINT STOCK CO “PERMNEFTEMASHREMONT”
7   9           9 49061631  “RM CENTER” LTD LIABILITY CO
8   9           9 64317566  “RM CENTER” LTD LIABILITY CO
9  10          10 45208426  “RRT” LTD
10 11          11 47448360  “VDC” LTD LIABILITY CO
11 11          11 68633079  “VDC” LTD LIABILITY CO
12 12          12 68011961  ”AVENTA INFO” LTD LIABILITY CO
   Person_ctry_code Matched
1  RU               0
2  RU               0
3  RU               1
4  RU               1
5  RU               1
6  RU               1
7  RU               0
8  RU               0
9  RU               0
10 RU               0
11 RU               0
12 RU               0

In [20]:
han_names %>%
    .[sample(.N, 5)]

  HAN_ID  Clean_name                       Person_ctry_code
1 3160663 VISSEAUX                         FR
2  282319 BADISCHES BLECHPAKKUNGSWERK GMBH DE
3 4002055 TIAN QINGSHENG                   CN
4 1073123 GETADE AGRI CONCEPT              FR
5 3425285 Z BAVIERONI SPA                  IT