# OECD HAN Database

In [1]:
# load packages 
library(pacman)
p_load(tidyverse, data.table, reshape2, archive)
# set option
options(dplyr.summarise.inform = FALSE)
gray_scale <- c('#F3F4F8','#D2D4DA', '#B3B5BD', 
                '#9496A1', '#7d7f89', '#777986', 
                '#656673', '#5B5D6B', '#4d505e',
                '#404352', '#2b2d3b', '#282A3A',
                '#1b1c2a', '#191a2b',
                '#141626', '#101223')

In [2]:
print(2)

[1] 2

In [18]:
file_path <- 'work/notebooks/patent/data/202208_HAN_NAMES.7z'
archive(file_path)

  path                 size      date
1 202208_HAN_NAMES.txt 169597918 2022-09-14 08:29:28

In [32]:
archive_read(file_path, file='202208_HAN_NAMES.txt')

A connection with
description "archive_read(work/notebooks/patent/data/202208_HAN_NAMES.7z)[202208_HAN_NAMES.txt]"
class       "archive_read"
mode        "r"
text        "text"
opened      "closed"
can read    "yes"
can write   "no"

In [37]:
head(han_names)

  HAN_ID Clean_name                      Person_ctry_code
1 1      & HAMBOURG NIENDORF             DE
2 2      & KK                            JP
3 3      “ASTRONIT” CLOSE CORP           RU
4 4      “DEUTSCHE SEE” GMBH             DE
5 5      “EFIRNOIE” OPEN JOINT STOCK CO  RU
6 6      “EUROSTANDART” LTD LIABILITY CO RU

In [18]:
foo <- fread('work/notebooks/patent/data/202208_HAN_NAMES.txt', sep="|")

In [19]:
head(foo)

  HAN_ID Clean_name                      Person_ctry_code
1 1      & HAMBOURG NIENDORF             DE
2 2      & KK                            JP
3 3      “ASTRONIT” CLOSE CORP           RU
4 4      “DEUTSCHE SEE” GMBH             DE
5 5      “EFIRNOIE” OPEN JOINT STOCK CO  RU
6 6      “EUROSTANDART” LTD LIABILITY CO RU

In [14]:
head(foo)

  HAN_ID Clean_name                      Person_ctry_code
1 1      & HAMBOURG NIENDORF             DE
2 2      & KK                            JP
3 3      “ASTRONIT” CLOSE CORP           RU
4 4      “DEUTSCHE SEE” GMBH             DE
5 5      “EFIRNOIE” OPEN JOINT STOCK CO  RU
6 6      “EUROSTANDART” LTD LIABILITY CO RU